.profile_links_texts {
	color: #4875bd;
	font-size: 3vw;
	padding: 10px;
	text-decoration: none;
}

.profile_links_icons {
	color: #4875bd;
	font-size: 6vw;
	padding: 10px;
	text-decoration: none;
}

#details_box {
	position: absolute;
	width: 60%;
	margin-top: 25%;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 20%;
	padding-bottom: 3%;
	background: white;
	border-radius: 10px;
	-webkit-box-shadow: 10px 10px 10px #444;
    -moz-box-shadow: 10px 10px 10px #444;
	box-shadow: 10px 10px 10px #444;
}

#profile_pic {
	width: 30%;
	z-index: 2;
	margin-top: 10%;
	margin-left: 35%;
	border-radius: 50%;
	position: absolute;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.text {
	font-size: 3vw;
}

#resume_icon {
	position: absolute;
	z-index: 2;
	margin-right: 11%;
	margin-left: 73%;
	margin-top: 26%;
	width: 16%;
}

.line_breaks {
	display: inline-block;
}

.line_breaks_mini {
	display: inline-block;
}

.horizontal_tabs1 {
	display: none;
}

.horizontal_tabs2 {
	display: none;
}

/* for mobile */

@media only screen and (min-width: 406px) {
	.line_breaks_mini {
		display: none;
	}

	.horizontal_tabs2 {
		display: inline-block;
	}
}

@media only screen and (min-width: 837px) {

	.profile_links_texts {
		font-size: 30px;
		padding: 10px;
	}

	.profile_links_icons {
		font-size: 50px;
		padding: 10px;
	}

	#details_box {
		margin-top: 10%;
		padding-top: 8%;
		padding-bottom: 3%;
	}

	#profile_pic {
		width: 10%;
		margin-top: 5%;
		margin-left: 45%;
	}

	#resume_icon {
		width: 8%;
		margin-left: 81%;
		margin-top: 11%;
	}

	.line_breaks {
		display: inline-block;
	}

	.text {
		font-size: 25px;
	}
}

@media only screen and (min-width: 1370px) {
	.line_breaks {
		display: none;
	}

	.horizontal_tabs1 {
		display: inline-block;
	}
}